#titulo_principal{
	background: url("fondo-titulo.png")  no-repeat fixed center center;
	background-position: center bottom;
	font-size: 19px;
	background-size: 1300px;
}

/********Menu Horizontal********/

ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: 50px;
    list-style-position: outside;
}

li {
    float: left;
    font-size: 19px;
    text-align: justify;
    margin-right: 8px;
    background-color: #99CCCC;
}

#activo{
    background-color: white;
}

#contacto{
	 float:right;
}

#menu-alternativo a{
	color:#000066;
	font-family: Microsoft YaHei UI;
	font-size: 125%;
	text-shadow: 0px 2px 2px #CCCCCC;
}

/********Contenido********/
body{
	background: url("fondo-pagina.png") no-repeat fixed center center #333;
	background-size: cover;
}

p{ 
	color: white;
	font-family: Microsoft YaHei UI;
	margin: 10px;
	text-align: justify;
	width: 600px;
}

b{
	text-align: center;
}

h1{
	color: white;
	font-family: Lucida Calligraphy;
	text-align: center;
	text-shadow: 1px 3px 4px black;
	font-size: 200%;
}

h2{
	color: #FF0000;
	text-shadow: 1px 2px 9px white;
	font-family: Corbel;
	text-align: center;
	font-size: 250%;
}

h3{
	color: white;
	font-family: Microsoft YaHei UI;
	text-align: center;
	text-shadow: 0px 2px 3px #555;
	font-size: 150%;
}

em{
	color: white;
	font-family: Microsoft YaHei UI;
	font-size: 70%;
}

#contenido{
	display:table;
}

#contenidoTexto{
	display: table-cell;
	width: 1250px;
	padding-right: 10px;
}

#contenedor{
	width:98%;
	margin:0 auto;
	overflow:hidden;
}

/***********************/

/********Imagen********/

figure{
	float:right;
	margin: 20px 20px 20px 20px;
}

figcaption{
	text-align: center;
}

/**********************/

/********Tabla*********/

table {
	border:2px solid white;
	border-collapse:separate;
	border-spacing:5px;
	width:450px;
	height:20px;
	color: #FFFFFF;
	font-family: Microsoft YaHei UI;
	background-color: #99CCCC;
	clear: right;
}

tr{
	/*background-color:#FFFFFF;*/
	border-color: #FFFFFF;
}

td{
	border:1px solid white;
	padding:10px;
	width: 70px;
	font-size: 80%;
}

#titulo_tabla{
	text-align: center;
	background-color: #000066;
	font-size: 120%;
	text-shadow: 0px 2px 2px #999999;
}

#info_tabla{
	text-align: center;
	color: black;
}
/******************/


/*****Sidebar*****/
#menu {
	display: table-cell;
	float: right;
	font-family: Microsoft YaHei UI;
	margin-top:30px;
}

a:link    {color: blue; background-color:transparent; text-decoration:none}
a:visited {color:purple; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:#00CCCC; text-decoration:none;}

/*****************/

/*****Footer*****/
footer{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:50px;
	color: white;
	font-family: Microsoft YaHei UI;
}
/*****************/

/*****Media Queries*****/
@media screen and (max-width: 980px){
	#contenedor{
		width:95%;
	}
	#contenido{
		width:65%;
	}
	#menu{
		width:30%;
	}
}

@media screen and (max-width: 700px){
	#contenedor{
		width:100%;
	}
	#menu{
		float: none;
		width:100%;
	}
	figure{
		float: none;
	}
	#contenido{
		width:100%;
	}
}
/*
@media screen and (max-width: 480px){
	.header h1 {
		font-size:24px;
	}
	.header h2 {
		font-size:20px;
		margin-top:1px;
	}
	
	.sidebar{
		display: none;
	}
}
/*****************/